<header id="header">
  <h1 class="logo"><a href="#">Spark6.com</a></h1>
  <strong class="sub-logo"><a href="#">Spark6.com</a></strong>
  <strong class="small-logo"><a href="#">Spark6.com</a></strong>
  <!-- navigation -->
  <div class="navigation">
    <nav>
      <ul id="nav">
        <li class="active"><%= link_to 'home', root_path %></li>
        <!--<li><%= link_to 'services', services_index_path %></li>-->
        <li><%= link_to 'about', about_index_path %></li>
        <li><%= link_to 'work', work_index_path %></li>
        <li><%= link_to 'contact', contact_path %></li>
      </ul>
    </nav>
    <a class="opener" href="#"><img src="assets/nav-opener.png" alt="image description"></a>
  </div>
</header>