<section id="content">
	<!-- video-holder -->
	<div class="video-holder">
		<a href="#">
			<span class="rollover"><%= image_tag("img-02.jpg", :alt => "play") %></span>
			<div data-picture data-alt="image description" >
				<div data-src="/assets/img-01.jpg" ></div>
				<div data-src="/assets/img-01-small.jpg" data-media="(max-width:640px)" ></div>
				<div data-src="/assets/img-01-small2x.jpg" data-media="(max-width:640px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:640px) and (min-resolution:144dpi)" ></div>
				<!--[if (lt IE 9) & (!IEMobile)]>
				<div data-src="images/img-01.jpg"></div>
				<![endif]-->
				<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
				<noscript><%= image_tag("img-01.jpg", alt: "we build things", size: "1080x606") %></noscript>
			</div> 
		</a>
	</div>
	<!-- list-services -->
	<ul class="list-services">
		<li>
			<div data-picture data-alt="image description" >
				<div data-src="/assets/img-03.jpg" ></div>
				<div data-src="/assets/img-03-medium.jpg" data-media="(max-width:940px)" ></div>
				<div data-src="/assets/img-03-medium2x.jpg" data-media="(max-width:940px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:940px) and (min-resolution:144dpi)" ></div>
				<div data-src="assets/img-03-small.jpg" data-media="(max-width:640px)" ></div>
				<div data-src="assets/img-03-small2x.jpg" data-media="(max-width:640px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:640px) and (min-resolution:144dpi)" ></div>
				<!--[if (lt IE 9) & (!IEMobile)]>
				<div data-src="images/img-03.jpg"></div>
				<![endif]-->
				<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
				<noscript><%= image_tag("img-03.jpg", alt: "image of phone with mobile site", size: "351x190") %></noscript>
			</div> 
			<div class="content"><strong class="title">MOBILE FIRST</strong></div>
			<div class="rollover">
				<strong class="sub-title"><span>MOBILE FIRST</span></strong>
				<p>Mauris sed tempus velit. Aliquam turpis ipsum alano elit.</p>
				<%= link_to 'Learn More', mobile_index_path, class: 'more icon-01' %>
			</div>
		</li>
		<li>
			<div data-picture data-alt="image description" >
				<div data-src="/assets/img-04.jpg" ></div>
				<div data-src="/assets/img-04-medium.jpg" data-media="(max-width:940px)" ></div>
				<div data-src="/assets/img-04-medium2x.jpg" data-media="(max-width:940px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:940px) and (min-resolution:144dpi)" ></div>
				<div data-src="/assets/img-04-small.jpg" data-media="(max-width:640px)" ></div>
				<div data-src="/assets/img-04-small2x.jpg" data-media="(max-width:640px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:640px) and (min-resolution:144dpi)" ></div>
				<!--[if (lt IE 9) & (!IEMobile)]>
				<div data-src="images/img-04.jpg"></div>
				<![endif]-->
				<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
				<noscript><%= image_tag("img-04.jpg", alt: "iconography", size: "351x190") %></noscript>
			</div> 
			<div class="content"><strong class="title">ENTERPRISE CMS</strong></div>
			<div class="rollover">
				<strong class="sub-title"><span>ENTERPRISE CMS</span></strong>
				<p>Mauris sed tempus velit. Aliquam turpis ipsum alano elit.</p>
				<%= link_to 'Learn More', enterprise_cms_index_path, class: 'more icon-02' %>
			</div>
		</li>
		<li>
			<div data-picture data-alt="image description" >
				<div data-src="/assets/img-05.jpg" ></div>
				<div data-src="/assets/img-05-medium.jpg" data-media="(max-width:940px)" ></div>
				<div data-src="/assets/img-05-medium2x.jpg" data-media="(max-width:940px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:940px) and (min-resolution:144dpi)" ></div>
				<div data-src="/assets/img-05-small.jpg" data-media="(max-width:640px)" ></div>
				<div data-src="/assets/img-05-small2x.jpg" data-media="(max-width:640px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:640px) and (min-resolution:144dpi)" ></div>
				<!--[if (lt IE 9) & (!IEMobile)]>
				<div data-src="images/img-05.jpg"></div>
				<![endif]-->
				<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
				<noscript><%= image_tag("img-05.jpg", alt: "person's silhouette", size: "351x190") %></noscript>
			</div> 
			<div class="content"><strong class="title">USER EXPERIENCE</strong></div>
			<div class="rollover">
				<strong class="sub-title"><span>USER EXPERIENCE</span></strong>
				<p>Mauris sed tempus velit. Aliquam turpis ipsum alano elit.</p>
				<%= link_to 'Learn More', user_experience_index_path, class: 'more icon-03' %>
			</div>
		</li>
		<li>
			<div data-picture data-alt="image description" >
				<div data-src="/assets/img-06.jpg" ></div>
				<div data-src="/assets/img-06-medium.jpg" data-media="(max-width:940px)" ></div>
				<div data-src="/assets/img-06-medium2x.jpg" data-media="(max-width:940px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:940px) and (min-resolution:144dpi)" ></div>
				<div data-src="/assets/img-06-small.jpg" data-media="(max-width:640px)" ></div>
				<div data-src="/assets/img-06-small2x.jpg" data-media="(max-width:640px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:640px) and (min-resolution:144dpi)" ></div>
				<!--[if (lt IE 9) & (!IEMobile)]>
				<div data-src="images/img-06.jpg"></div>
				<![endif]-->
				<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
				<noscript><%= image_tag("img-06.jpg", alt: "front-facing silhouette", size: "351x190") %></noscript>
			</div> 
			<div class="content"><strong class="title">ENTERPRISE GAMIFICATION</strong></div>
			<div class="rollover">
				<strong class="sub-title"><span>ENTERPRISE GAMEIFICATION</span></strong>
				<p>Mauris sed tempus velit. Aliquam turpis ipsum alano elit.</p>
				<%= link_to 'Learn More', enterprise_gamification_index_path, class: 'more icon-04' %>
			</div>
		</li>
		<li>
			<div data-picture data-alt="image description" >
				<div data-src="/assets/img-07.jpg" ></div>
				<div data-src="/assets/img-07-medium.jpg" data-media="(max-width:940px)" ></div>
				<div data-src="/assets/img-07-medium2x.jpg" data-media="(max-width:940px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:940px) and (min-resolution:144dpi)" ></div>
				<div data-src="/assets/img-07-small.jpg" data-media="(max-width:640px)" ></div>
				<div data-src="/assets/img-07-small2x.jpg" data-media="(max-width:640px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:640px) and (min-resolution:144dpi)" ></div>
				<!--[if (lt IE 9) & (!IEMobile)]>
				<div data-src="images/img-07.jpg"></div>
				<![endif]-->
				<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
				<noscript><%= image_tag("img-07.jpg", alt: "curved phones", size: "351x190") %></noscript>
			</div> 
			<div class="content"><strong class="title">DIGITAL MARKETING</strong></div>
			<div class="rollover">
				<strong class="sub-title"><span>DIGITAL MARKETING</span></strong>
				<p>Mauris sed tempus velit. Aliquam turpis ipsum alano elit.</p>
				<%= link_to 'Learn More', digital_marketing_index_path, class: 'more icon-05' %>
			</div>
		</li>
		<li>
			<div data-picture data-alt="image description" >
				<div data-src="/assets/img-08.jpg" ></div>
				<div data-src="/assets/img-08-medium.jpg" data-media="(max-width:940px)" ></div>
				<div data-src="/assets/img-08-medium2x.jpg" data-media="(max-width:940px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:940px) and (min-resolution:144dpi)" ></div>
				<div data-src="/assets/img-08-small.jpg" data-media="(max-width:640px)" ></div>
				<div data-src="/assets/img-08-small2x.jpg" data-media="(max-width:640px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:640px) and (min-resolution:144dpi)" ></div>
				<!--[if (lt IE 9) & (!IEMobile)]>
				<div data-src="images/img-08.jpg"></div>
				<![endif]-->
				<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
				<noscript><%= image_tag("img-08.jpg", alt: "video camera", size: "351x190") %></noscript>
			</div> 
			<div class="content"><strong class="title">VIDEO PRODUCTION</strong></div>
			<div class="rollover">
				<strong class="sub-title"><span>VIDEO PRODUCTION</span></strong>
				<p>Mauris sed tempus velit. Aliquam turpis ipsum alano elit.</p>
				<%= link_to 'Learn More', video_production_index_path, class: 'more icon-06' %>
			</div>
		</li>
	</ul>
	<!-- fb-like -->
	<section class="fb-like">
						<a href="#" class="like"><em>facebook <span class="state">LIKE US</span> <span class="state state1">THANKS!</span> <span class="state state2">741 LIKES</span></em></a>
						<p>Fusce et mi eget enim suscipit faucibus et ac nisl. </p>
						<p>Donec risus nibh sit amet enim.</p>
					</section>
	<!-- customers -->
	<section class="customers">
		<article>
			<a href="#">
				<div class="icon-holder icon-paypal">
					<%= image_tag("icon-paypal.svg", alt: "icon-paypal", size: "216x58") %>
					<%= image_tag("icon-paypal-act.svg", alt: "icon-dsc", size: "216x58", class: "rollover") %>
				</div>
			</a>
		</article>
		<article>
			<a href="#">
				<div class="icon-holder icon-dsc">
					<%= image_tag("icon-dsc.svg", alt: "icon-dsc", size: "131x131") %>
					<%= image_tag("icon-dsc-act.svg", alt: "icon-dsc", size: "131x131", class: "rollover") %>
				</div>
			</a>
		</article>
		<article>
			<a href="#">
				<div class="icon-holder icon-cisco">
				  <%= image_tag("icon-cisco.svg", alt: "icon-cisco", size: "168x89") %>
				  <%= image_tag("icon-cisco-act.svg", alt: "icon-cisco", size: "131x131", class: "rollover") %>
				</div>
			</a>
		</article>
		<article>
			<a href="#">
				<div class="icon-holder icon-ebay">
          <%= image_tag("icon-ebay.svg", alt: "icon-ebay", size: "241x58") %>
          <%= image_tag("icon-ebay-act.svg", alt: "icon-ebay", size: "241x58", class: "rollover") %>
				</div>
			</a>
		</article>
		<article>
			<a href="#">
				<div class="icon-holder icon-bbdo">
          <%= image_tag("icon-bbdo.svg", alt: "icon-bbdo", size: "176x51") %>
          <%= image_tag("icon-bbdo-act.svg", alt: "icon-bbo", size: "176x51", class: "rollover") %>
				</div>
			</a>
		</article>
		<article>
			<a href="#">
				<div class="icon-holder icon-ebay-inc">
				  <%= image_tag("icon-ebay-inc.svg", alt: "icon-ebay-inc", size: "251x86") %>
				  <%= image_tag("icon-ebay-inc-act.svg", alt: "icon-ebay-inc", size: "251x86", class: "rollover") %>
				</div>
			</a>
		</article>
		<article>
			<a href="#">
				<div class="icon-holder icon-att">
          <%= image_tag("icon-att.svg", alt: "icon-att", size: "223x88") %>
          <%= image_tag("icon-att-act.svg", alt: "icon-att", size: "223x88", class: "rollover") %>
				</div>
			</a>
		</article>
		<article>
			<a href="#">
				<div class="icon-holder icon-mc">
          <%= image_tag("icon-mc.svg", alt: "icon-mc", size: "157x87") %>
          <%= image_tag("icon-mc-act.svg", alt: "icon-mc", size: "157x87", class: "rollover") %>
				</div>
			</a>
		</article>
	</section>
</section>