<section id="content">
	<!-- video-holder -->
	<div class="video-holder">
		<a href="#">
			<span class="rollover"><%= image_tag("img-02.jpg", :alt => "play") %></span>
			<div data-picture data-alt = "image description" >
				<div data-src = "/assets/img-01.jpg" ></div>
				<div data-src = "/assets/img-01-small.jpg" data-media = "(max-width:640px)" ></div>
				<div data-src = "/assets/img-01-small2x.jpg" data-media = "(max-width:640px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:640px) and (min-resolution:144dpi)" ></div>
				<!--[if (lt IE 9) & (!IEMobile)]>
				<div data-src="images/img-01.jpg"></div>
				<![endif]-->
				<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
				<noscript><%= image_tag("img-01.jpg", alt: "we build things", size: "1080x606") %></noscript>
			</div> 
		</a>
	</div>
	<!-- list-services -->
	<ul class="list-services">
		<li>
			<div data-picture data-alt = "image description" >
				<div data-src = "/assets/img-03.jpg" ></div>
				<div data-src = "/assets/img-03-medium.jpg" data-media = "(max-width:940px)" ></div>
				<div data-src = "/assets/img-03-medium2x.jpg" data-media = "(max-width:940px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:940px) and (min-resolution:144dpi)" ></div>
				<div data-src = "assets/img-03-small.jpg" data-media = "(max-width:640px)" ></div>
				<div data-src = "assets/img-03-small2x.jpg" data-media = "(max-width:640px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:640px) and (min-resolution:144dpi)" ></div>
				<!--[if (lt IE 9) & (!IEMobile)]>
				<div data-src="images/img-03.jpg"></div>
				<![endif]-->
				<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
				<noscript><%= image_tag("img-03.jpg", alt: "image of phone with mobile site", size: "351x190") %></noscript>
			</div> 
			<div class="content"><strong class="title">MOBILE FIRST</strong></div>
			<div class="rollover">
				<strong class="sub-title"><span>MOBILE FIRST</span></strong>
				<p>Mauris sed tempus velit. Aliquam turpis ipsum alano elit.</p>
				<a href="#" class="more icon-01">Learn More</a>
			</div>
		</li>
		<li>
			<div data-picture data-alt = "image description" >
				<div data-src = "/assets/img-04.jpg" ></div>
				<div data-src = "/assets/img-04-medium.jpg" data-media = "(max-width:940px)" ></div>
				<div data-src = "/assets/img-04-medium2x.jpg" data-media = "(max-width:940px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:940px) and (min-resolution:144dpi)" ></div>
				<div data-src = "/assets/img-04-small.jpg" data-media = "(max-width:640px)" ></div>
				<div data-src = "/assets/img-04-small2x.jpg" data-media = "(max-width:640px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:640px) and (min-resolution:144dpi)" ></div>
				<!--[if (lt IE 9) & (!IEMobile)]>
				<div data-src="images/img-04.jpg"></div>
				<![endif]-->
				<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
				<noscript><%= image_tag("img-04.jpg", alt: "iconography", size: "351x190") %></noscript>
			</div> 
			<div class="content"><strong class="title">ENTERPRISE CMS</strong></div>
			<div class="rollover">
				<strong class="sub-title"><span>ENTERPRISE CMS</span></strong>
				<p>Mauris sed tempus velit. Aliquam turpis ipsum alano elit.</p>
				<a href="#" class="more icon-02">Learn More</a>
			</div>
		</li>
		<li>
			<div data-picture data-alt = "image description" >
				<div data-src = "/assets/img-05.jpg" ></div>
				<div data-src = "/assets/img-05-medium.jpg" data-media = "(max-width:940px)" ></div>
				<div data-src = "/assets/img-05-medium2x.jpg" data-media = "(max-width:940px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:940px) and (min-resolution:144dpi)" ></div>
				<div data-src = "/assets/img-05-small.jpg" data-media = "(max-width:640px)" ></div>
				<div data-src = "/assets/img-05-small2x.jpg" data-media = "(max-width:640px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:640px) and (min-resolution:144dpi)" ></div>
				<!--[if (lt IE 9) & (!IEMobile)]>
				<div data-src="images/img-05.jpg"></div>
				<![endif]-->
				<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
				<noscript><%= image_tag("img-05.jpg", alt: "person's silhouette", size: "351x190") %></noscript>
			</div> 
			<div class="content"><strong class="title">USER EXPERIENCE</strong></div>
			<div class="rollover">
				<strong class="sub-title"><span>USER EXPERIENCE</span></strong>
				<p>Mauris sed tempus velit. Aliquam turpis ipsum alano elit.</p>
				<a href="#" class="more icon-03">Learn More</a>
			</div>
		</li>
		<li>
			<div data-picture data-alt = "image description" >
				<div data-src = "/assets/img-06.jpg" ></div>
				<div data-src = "/assets/img-06-medium.jpg" data-media = "(max-width:940px)" ></div>
				<div data-src = "/assets/img-06-medium2x.jpg" data-media = "(max-width:940px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:940px) and (min-resolution:144dpi)" ></div>
				<div data-src = "/assets/img-06-small.jpg" data-media = "(max-width:640px)" ></div>
				<div data-src = "/assets/img-06-small2x.jpg" data-media = "(max-width:640px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:640px) and (min-resolution:144dpi)" ></div>
				<!--[if (lt IE 9) & (!IEMobile)]>
				<div data-src="images/img-06.jpg"></div>
				<![endif]-->
				<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
				<noscript><%= image_tag("img-06.jpg", alt: "front-facing silhouette", size: "351x190") %></noscript>
			</div> 
			<div class="content"><strong class="title">ENTERPRISE GAMEIFICATION</strong></div>
			<div class="rollover">
				<strong class="sub-title"><span>ENTERPRISE GAMEIFICATION</span></strong>
				<p>Mauris sed tempus velit. Aliquam turpis ipsum alano elit.</p>
				<a href="#" class="more icon-04">Learn More</a>
			</div>
		</li>
		<li>
			<div data-picture data-alt = "image description" >
				<div data-src = "/assets/img-07.jpg" ></div>
				<div data-src = "/assets/img-07-medium.jpg" data-media = "(max-width:940px)" ></div>
				<div data-src = "/assets/img-07-medium2x.jpg" data-media = "(max-width:940px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:940px) and (min-resolution:144dpi)" ></div>
				<div data-src = "/assets/img-07-small.jpg" data-media = "(max-width:640px)" ></div>
				<div data-src = "/assets/img-07-small2x.jpg" data-media = "(max-width:640px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:640px) and (min-resolution:144dpi)" ></div>
				<!--[if (lt IE 9) & (!IEMobile)]>
				<div data-src="images/img-07.jpg"></div>
				<![endif]-->
				<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
				<noscript><%= image_tag("img-07.jpg", alt: "curved phones", size: "351x190") %></noscript>
			</div> 
			<div class="content"><strong class="title">DIGITAL MARKETING</strong></div>
			<div class="rollover">
				<strong class="sub-title"><span>DIGITAL MARKETING</span></strong>
				<p>Mauris sed tempus velit. Aliquam turpis ipsum alano elit.</p>
				<a href="#" class="more icon-05">Learn More</a>
			</div>
		</li>
		<li>
			<div data-picture data-alt = "image description" >
				<div data-src = "/assets/img-08.jpg" ></div>
				<div data-src = "/assets/img-08-medium.jpg" data-media = "(max-width:940px)" ></div>
				<div data-src = "/assets/img-08-medium2x.jpg" data-media = "(max-width:940px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:940px) and (min-resolution:144dpi)" ></div>
				<div data-src = "/assets/img-08-small.jpg" data-media = "(max-width:640px)" ></div>
				<div data-src = "/assets/img-08-small2x.jpg" data-media = "(max-width:640px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:640px) and (min-resolution:144dpi)" ></div>
				<!--[if (lt IE 9) & (!IEMobile)]>
				<div data-src="images/img-08.jpg"></div>
				<![endif]-->
				<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
				<noscript><%= image_tag("img-08.jpg", alt: "video camera", size: "351x190") %></noscript>
			</div> 
			<div class="content"><strong class="title">VIDEO PRODUCTION</strong></div>
			<div class="rollover">
				<strong class="sub-title"><span>VIDEO PRODUCTION</span></strong>
				<p>Mauris sed tempus velit. Aliquam turpis ipsum alano elit.</p>
				<a href="#" class="more icon-06">Learn More</a>
			</div>
		</li>
	</ul>
	<!-- fb-like -->
	<section class="fb-like">
		<a href="#" class="like">facebook <span class="state">LIKE US</span> <span class="state state1">THANKS!</span> <span class="state state2">741 LIKES</span></a>
		<p>Fusce et mi eget enim suscipit faucibus et ac nisl. </p>
		<p>Donec risus nibh sit amet enim.</p>
	</section>
	<!-- customers -->
	<section class="customers">
		<article>
			<a href="#">
				<div data-picture data-alt = "image description" >
					<div data-src = "/assets/icon-paypal.png" ></div>
					<div data-src = "/assets/icon-paypal-medium.png" data-media = "(max-width:940px)" ></div>
					<div data-src = "/assets/icon-paypal-medium2x.png" data-media = "(max-width:940px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:940px) and (min-resolution:144dpi)" ></div>
					<!--[if (lt IE 9) & (!IEMobile)]>
					<div data-src="images/icon-paypal.png"></div>
					<![endif]-->
					<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
					<noscript><%= image_tag("icon-paypal.png", alt: "paypal icon", size: "148x39") %></noscript>
				</div>
				<%= image_tag("icon-paypal-act.png", alt: "paypal logo", class: "rollover") %>
			</a>
		</article>
		<article>
			<a href="#">
				<div data-picture data-alt = "image description" >
					<div data-src = "/assets/icon-dsc.png" ></div>
					<div data-src = "/assets/icon-dsc-medium.png" data-media = "(max-width:940px)" ></div>
					<div data-src = "/assets/icon-dsc-medium2x.png" data-media = "(max-width:940px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:940px) and (min-resolution:144dpi)" ></div>
					<!--[if (lt IE 9) & (!IEMobile)]>
					<div data-src="images/icon-dsc.png"></div>
					<![endif]-->
					<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
					<noscript><%= image_tag("icon-dsc.png", alt: "dollar shave club", size: "89x88") %></noscript>
				</div>
				<%= image_tag("icon-dsc-act.png", alt: "dollar shave club icon", class: "rollover") %>
			</a>
		</article>
		<article>
			<a href="#">
				<div data-picture data-alt = "image description" >
					<div data-src = "/assets/icon-cisco.png" ></div>
					<div data-src = "/assets/icon-cisco-medium.png" data-media = "(max-width:940px)" ></div>
					<div data-src = "/assets/icon-cisco-medium2x.png" data-media = "(max-width:940px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:940px) and (min-resolution:144dpi)" ></div>
					<!--[if (lt IE 9) & (!IEMobile)]>
					<div data-src="images/icon-cisco.png"></div>
					<![endif]-->
					<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
					<noscript><%= image_tag("icon-cisco.png", alt: "cisco icon", size: "113x60") %></noscript>
				</div>
				<%= image_tag("icon-cisco-act.png", alt: "Cisco icon", class: "rollover") %>
			</a>
		</article>
		<article>
			<a href="#">
				<div data-picture data-alt = "image description" >
					<div data-src = "/assets/icon-ebay.png" ></div>
					<div data-src = "/assets/icon-ebay-medium.png" data-media = "(max-width:940px)" ></div>
					<div data-src = "/assets/icon-ebay-medium2x.png" data-media = "(max-width:940px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:940px) and (min-resolution:144dpi)" ></div>
					<!--[if (lt IE 9) & (!IEMobile)]>
					<div data-src="images/icon-ebay.png"></div>
					<![endif]-->
					<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
					<noscript><%= image_tag("icon-ebay.png", alt: "ebay icon", size: "169x40") %></noscript>
				</div>
				<%= image_tag("icon-ebay-act.png", :alt => "ebay icon", :class => "rollover") %>
			</a>
		</article>
		<article>
			<a href="#">
				<div data-picture data-alt = "image description" >
					<div data-src = "/assets/icon-bbdo.png" ></div>
					<div data-src = "/assets/icon-bbdo-medium.png" data-media = "(max-width:940px)" ></div>
					<div data-src = "/assets/icon-bbdo-medium2x.png" data-media = "(max-width:940px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:940px) and (min-resolution:144dpi)" ></div>
					<!--[if (lt IE 9) & (!IEMobile)]>
					<div data-src="images/icon-bbdo.png"></div>
					<![endif]-->
					<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
					<noscript><%= image_tag("icon-bbdo.png", alt: "bbdo icon", size: "118x34") %></noscript>
				</div>
				<%= image_tag("icon-bbdo-act.png", alt: "bbdo icon", class: "rollover") %>
			</a>
		</article>
		<article>
			<a href="#">
				<div data-picture data-alt = "image description" >
					<div data-src = "/assets/icon-ebay-inc.png" ></div>
					<div data-src = "/assets/icon-ebay-inc-medium.png" data-media = "(max-width:940px)" ></div>
					<div data-src = "/assets/icon-ebay-inc-medium2x.png" data-media = "(max-width:940px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:940px) and (min-resolution:144dpi)" ></div>
					<!--[if (lt IE 9) & (!IEMobile)]>
					<div data-src="images/icon-ebay-inc.png"></div>
					<![endif]-->
					<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
					<noscript><%= image_tag("icon-ebay-inc.png", alt: "ebay icon", size: "169x50") %></noscript>
				</div>
				<%= image_tag("icon-ebay-inc-act.png", alt: "ebay icon", class: "rollover") %>
			</a>
		</article>
		<article>
			<a href="#">
				<div data-picture data-alt = "image description" >
					<div data-src = "/assets/icon-att.png" ></div>
					<div data-src = "/assets/icon-att-medium.png" data-media = "(max-width:940px)" ></div>
					<div data-src = "/assets/icon-att-medium2x.png" data-media = "(max-width:940px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:940px) and (min-resolution:144dpi)" ></div>
					<!--[if (lt IE 9) & (!IEMobile)]>
					<div data-src="images/icon-att.png"></div>
					<![endif]-->
					<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
					<noscript><%= image_tag("icon-att.png", alt: "att logo", size: "150x60") %></noscript>
				</div>
				<%= image_tag("icon-att-act.png", alt: "att logo", class: "rollover") %>
			</a>
		</article>
		<article>
			<a href="#">
				<div data-picture data-alt = "image description" >
					<div data-src = "/assets/icon-mc.png" ></div>
					<div data-src = "/assets/icon-mc-medium.png" data-media = "(max-width:940px)" ></div>
					<div data-src = "/assets/icon-mc-medium2x.png" data-media = "(max-width:940px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:940px) and (min-resolution:144dpi)" ></div>
					<!--[if (lt IE 9) & (!IEMobile)]>
					<div data-src="images/icon-mc.png"></div>
					<![endif]-->
					<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
					<noscript><%= image_tag("icon-mc.png", alt: "mc icon", size: "98x98") %></noscript>
				</div>
				<%= image_tag("icon-mc-act.png", alt: "mc icon", class: "rollover") %>
			</a>
		</article>
	</section>
</section>