<section id="content">
	<!-- visual -->
	<div class="visual">
		<div data-picture data-alt="image description" >
			<div data-src="/assets/img-18.jpg" ></div>
			<div data-src="/assets/img-18-medium.jpg" data-media="(max-width:940px)" ></div>
			<div data-src="/assets/img-18-medium2x.jpg" data-media="(max-width:940px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:940px) and (min-resolution:144dpi)" ></div>
			<div data-src="/assets/img-18-small.jpg" data-media="(max-width:640px)" ></div>
			<div data-src="/assets/img-18-small2x.jpg" data-media="(max-width:640px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:640px) and (min-resolution:144dpi)" ></div>
			<!--[if (lt IE 9) & (!IEMobile)]>
			<div data-src="/assets/img-18.jpg"></div>
			<![endif]-->
			<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
			<noscript><%= image_tag("img-18.jpg", alt: "image description", size: "1080x306") %></noscript>
		</div> 
		<h1>WORK SAMPLES</h1>
	</div>
	<!-- device -->
	<div class="device">
		<div data-picture data-alt="image description" >
			<div data-src="/assets/img-19.jpg" ></div>
			<div data-src="/assets/img-19-medium.jpg" data-media="(max-width:940px)" ></div>
			<div data-src="/assets/img-19-medium2x.jpg" data-media="(max-width:940px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:940px) and (min-resolution:144dpi)" ></div>
			<div data-src="/assets/img-19-small.jpg" data-media="(max-width:640px)" ></div>
			<div data-src="/assets/img-19-small2x.jpg" data-media="(max-width:640px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:640px) and (min-resolution:144dpi)" ></div>
			<!--[if (lt IE 9) & (!IEMobile)]>
			<div data-src="/assets/img-19.jpg"></div>
			<![endif]-->
			<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
			<noscript><%= image_tag("img-19.jpg", alt: "image description", size: "1080x985") %></noscript>
		</div> 
		<div class="content">
			<h2>INTUITIVE TOUCH</h2>
			<p>Suspendisse potenti. Nulla volutpat ultrices pulvinar. Phasellus et interdum quam. Aliquam ut sem justo faucibus. </p>
		</div>
	</div>
	<!-- device -->
	<div class="device small">
		<div data-picture data-alt="image description" >
			<div data-src="/assets/img-21.jpg" ></div>
			<div data-src="/assets/img-21-medium.jpg" data-media="(max-width:940px)" ></div>
			<div data-src="/assets/img-21-medium2x.jpg" data-media="(max-width:940px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:940px) and (min-resolution:144dpi)" ></div>
			<div data-src="/assets/img-21-small.jpg" data-media="(max-width:640px)" ></div>
			<div data-src="/assets/img-21-small2x.jpg" data-media="(max-width:640px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:640px) and (min-resolution:144dpi)" ></div>
			<!--[if (lt IE 9) & (!IEMobile)]>
			<div data-src="/assets/img-21.jpg"></div>
			<![endif]-->
			<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
			<noscript><%= image_tag("img-21.jpg", alt: "image description", size: "1080x985") %></noscript>
		</div> 
		<div class="tab-holder">
			<ul class="tabset">
				<li class="active">
					<a href="#"><span>2</span> Active</a>
				</li>
				<li>
					<a href="#"><span>3</span> Waiting</a>
				</li>
			</ul>
		</div>
		<div class="content">
			<h2>MOBILE ENGAGEMENT</h2>
			<p>Suspendisse potenti. Nulla volutpat ultrices pulvinar. Phasellus et interdum quam. Aliquam ut sem justo faucibus. </p>
		</div>
	</div>
	<!-- ebay-block -->
	<div class="ebay-block"><%= image_tag("img-20.jpg", alt: "image description") %></div>
	<!-- more-works -->
	<div class="more-works">
		<h1>More Great Works</h1>
		<!-- list-works -->
		<ul class="list-works">
			<li>
				<a href="#">
					<div data-picture data-alt="image description" >
					<div data-src="/assets/img-22.jpg" ></div>
					<div data-src="/assets/img-22-medium.jpg" data-media="(max-width:940px)" ></div>
					<div data-src="/assets/img-22-medium2x.jpg" data-media="(max-width:940px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:940px) and (min-resolution:144dpi)" ></div>
					<div data-src="/assets/img-22-small.jpg" data-media="(max-width:640px)" ></div>
					<div data-src="/assets/img-22-small2x.jpg" data-media="(max-width:640px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:640px) and (min-resolution:144dpi)" ></div>
					<!--[if (lt IE 9) & (!IEMobile)]>
					<div data-src="/assets/img-22.jpg"></div>
					<![endif]-->
					<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
					<noscript><%= image_tag("img-22.jpg", alt: "image description", size: "360x358") %></noscript>
				</div> 
				</a>
			</li>
			<li>
				<a href="#">
					<div data-picture data-alt="image description" >
					<div data-src="/assets/img-23.jpg" ></div>
					<div data-src="/assets/img-23-medium.jpg" data-media="(max-width:940px)" ></div>
					<div data-src="/assets/img-23-medium2x.jpg" data-media="(max-width:940px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:940px) and (min-resolution:144dpi)" ></div>
					<div data-src="/assets/img-23-small.jpg" data-media="(max-width:640px)" ></div>
					<div data-src="/assets/img-23-small2x.jpg" data-media="(max-width:640px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:640px) and (min-resolution:144dpi)" ></div>
					<!--[if (lt IE 9) & (!IEMobile)]>
					<div data-src="/assets/img-23.jpg"></div>
					<![endif]-->
					<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
					<noscript><%= image_tag("img-23.jpg", alt: "image description", size: "360x358") %></noscript>
				</div> 
				</a>
			</li>
			<li>
				<a href="#">
					<div data-picture data-alt="image description" >
					<div data-src="/assets/img-24.jpg" ></div>
					<div data-src="/assets/img-24-medium.jpg" data-media="(max-width:940px)" ></div>
					<div data-src="/assets/img-24-medium2x.jpg" data-media="(max-width:940px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:940px) and (min-resolution:144dpi)" ></div>
					<div data-src="/assets/img-24-small.jpg" data-media="(max-width:640px)" ></div>
					<div data-src="/assets/img-24-small2x.jpg" data-media="(max-width:640px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:640px) and (min-resolution:144dpi)" ></div>
					<!--[if (lt IE 9) & (!IEMobile)]>
					<div data-src="/assets/img-24.jpg"></div>
					<![endif]-->
					<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
					<noscript><%= image_tag("img-24.jpg", alt: "image description", size: "360x358") %></noscript>
				</div> 
				</a>
			</li>
			<li>
				<a href="#">
					<div data-picture data-alt="image description" >
					<div data-src="/assets/img-25.jpg" ></div>
					<div data-src="/assets/img-25-medium.jpg" data-media="(max-width:940px)" ></div>
					<div data-src="/assets/img-25-medium2x.jpg" data-media="(max-width:940px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:940px) and (min-resolution:144dpi)" ></div>
					<div data-src="/assets/img-25-small.jpg" data-media="(max-width:640px)" ></div>
					<div data-src="/assets/img-25-small2x.jpg" data-media="(max-width:640px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:640px) and (min-resolution:144dpi)" ></div>
					<!--[if (lt IE 9) & (!IEMobile)]>
					<div data-src="/assets/img-25.jpg"></div>
					<![endif]-->
					<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
					<noscript><%= image_tag("img-25.jpg", alt: "image description", size: "360x358") %></noscript>
				</div> 
				</a>
			</li>
			<li>
				<a href="#">
					<div data-picture data-alt="image description" >
					<div data-src="/assets/img-26.jpg" ></div>
					<div data-src="/assets/img-26-medium.jpg" data-media="(max-width:940px)" ></div>
					<div data-src="/assets/img-26-medium2x.jpg" data-media="(max-width:940px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:940px) and (min-resolution:144dpi)" ></div>
					<div data-src="/assets/img-26-small.jpg" data-media="(max-width:640px)" ></div>
					<div data-src="/assets/img-26-small2x.jpg" data-media="(max-width:640px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:640px) and (min-resolution:144dpi)" ></div>
					<!--[if (lt IE 9) & (!IEMobile)]>
					<div data-src="/assets/img-26.jpg"></div>
					<![endif]-->
					<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
					<noscript><%= image_tag("img-26.jpg", alt: "image description", size: "360x358") %></noscript>
				</div> 
				</a>
			</li>
			<li>
				<a href="#">
					<div data-picture data-alt="image description" >
					<div data-src="/assets/img-27.jpg" ></div>
					<div data-src="/assets/img-27-medium.jpg" data-media="(max-width:940px)" ></div>
					<div data-src="/assets/img-27-medium2x.jpg" data-media="(max-width:940px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:940px) and (min-resolution:144dpi)" ></div>
					<div data-src="/assets/img-27-small.jpg" data-media="(max-width:640px)" ></div>
					<div data-src="/assets/img-27-small2x.jpg" data-media="(max-width:640px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:640px) and (min-resolution:144dpi)" ></div>
					<!--[if (lt IE 9) & (!IEMobile)]>
					<div data-src="/assets/img-27.jpg"></div>
					<![endif]-->
					<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
					<noscript><%= image_tag("img-27.jpg", alt: "image description", size: "360x358") %></noscript>
				</div> 
				</a>
			</li>
			<li>
				<a href="#">
					<div data-picture data-alt="image description" >
					<div data-src="/assets/img-28.jpg" ></div>
					<div data-src="/assets/img-28-medium.jpg" data-media="(max-width:940px)" ></div>
					<div data-src="/assets/img-28-medium2x.jpg" data-media="(max-width:940px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:940px) and (min-resolution:144dpi)" ></div>
					<div data-src="/assets/img-28-small.jpg" data-media="(max-width:640px)" ></div>
					<div data-src="/assets/img-28-small2x.jpg" data-media="(max-width:640px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:640px) and (min-resolution:144dpi)" ></div>
					<!--[if (lt IE 9) & (!IEMobile)]>
					<div data-src="/assets/img-28.jpg"></div>
					<![endif]-->
					<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
					<noscript><%= image_tag("img-28.jpg", alt: "image description", size: "360x358") %></noscript>
				</div> 
				</a>
			</li>
			<li>
				<a href="#">
					<div data-picture data-alt="image description" >
					<div data-src="/assets/img-29.jpg" ></div>
					<div data-src="/assets/img-29-medium.jpg" data-media="(max-width:940px)" ></div>
					<div data-src="/assets/img-29-medium2x.jpg" data-media="(max-width:940px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:940px) and (min-resolution:144dpi)" ></div>
					<div data-src="/assets/img-29-small.jpg" data-media="(max-width:640px)" ></div>
					<div data-src="/assets/img-29-small2x.jpg" data-media="(max-width:640px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:640px) and (min-resolution:144dpi)" ></div>
					<!--[if (lt IE 9) & (!IEMobile)]>
					<div data-src="/assets/img-29.jpg"></div>
					<![endif]-->
					<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
					<noscript><%= image_tag("img-29.jpg", alt: "image description", size: "360x358") %></noscript>
				</div> 
				</a>
			</li>
			<li>
				<a href="#">
					<div data-picture data-alt="image description" >
					<div data-src="/assets/img-30.jpg" ></div>
					<div data-src="/assets/img-30-medium.jpg" data-media="(max-width:940px)" ></div>
					<div data-src="/assets/img-30-medium2x.jpg" data-media="(max-width:940px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:940px) and (min-resolution:144dpi)" ></div>
					<div data-src="/assets/img-30-small.jpg" data-media="(max-width:640px)" ></div>
					<div data-src="/assets/img-30-small2x.jpg" data-media="(max-width:640px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:640px) and (min-resolution:144dpi)" ></div>
					<!--[if (lt IE 9) & (!IEMobile)]>
					<div data-src="/assets/img-30.jpg"></div>
					<![endif]-->
					<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
					<noscript><%= image_tag("img-30.jpg", alt: "image description", size: "360x358") %></noscript>
				</div> 
				</a>
			</li>
			<li>
				<a href="#">
					<div data-picture data-alt="image description" >
					<div data-src="/assets/img-31.jpg" ></div>
					<div data-src="/assets/img-31-medium.jpg" data-media="(max-width:940px)" ></div>
					<div data-src="/assets/img-31-medium2x.jpg" data-media="(max-width:940px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:940px) and (min-resolution:144dpi)" ></div>
					<div data-src="/assets/img-31-small.jpg" data-media="(max-width:640px)" ></div>
					<div data-src="/assets/img-31-small2x.jpg" data-media="(max-width:640px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:640px) and (min-resolution:144dpi)" ></div>
					<!--[if (lt IE 9) & (!IEMobile)]>
					<div data-src="/assets/img-31.jpg"></div>
					<![endif]-->
					<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
					<noscript><%= image_tag("img-31.jpg", alt: "image description", size: "360x358") %></noscript>
				</div> 
				</a>
			</li>
			<li>
				<a href="#">
					<div data-picture data-alt="image description" >
					<div data-src="/assets/img-32.jpg" ></div>
					<div data-src="/assets/img-32-medium.jpg" data-media="(max-width:940px)" ></div>
					<div data-src="/assets/img-32-medium2x.jpg" data-media="(max-width:940px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:940px) and (min-resolution:144dpi)" ></div>
					<div data-src="/assets/img-32-small.jpg" data-media="(max-width:640px)" ></div>
					<div data-src="/assets/img-32-small2x.jpg" data-media="(max-width:640px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:640px) and (min-resolution:144dpi)" ></div>
					<!--[if (lt IE 9) & (!IEMobile)]>
					<div data-src="/assets/img-32.jpg"></div>
					<![endif]-->
					<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
					<noscript><%= image_tag("img-32.jpg", alt: "image description", size: "360x358") %></noscript>
				</div> 
				</a>
			</li>
			<li>
				<a href="#">
					<div data-picture data-alt="image description" >
					<div data-src="/assets/img-33.jpg" ></div>
					<div data-src="/assets/img-33-medium.jpg" data-media="(max-width:940px)" ></div>
					<div data-src="/assets/img-33-medium2x.jpg" data-media="(max-width:940px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:940px) and (min-resolution:144dpi)" ></div>
					<div data-src="/assets/img-33-small.jpg" data-media="(max-width:640px)" ></div>
					<div data-src="/assets/img-33-small2x.jpg" data-media="(max-width:640px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:640px) and (min-resolution:144dpi)" ></div>
					<!--[if (lt IE 9) & (!IEMobile)]>
					<div data-src="/assets/img-33.jpg"></div>
					<![endif]-->
					<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
					<noscript><%= image_tag("img-33.jpg", alt: "image description", size: "360x358") %></noscript>
				</div> 
				</a>
			</li>
			<li>
				<a href="#">
					<div data-picture data-alt="image description" >
					<div data-src="/assets/img-34.jpg" ></div>
					<div data-src="/assets/img-34-medium.jpg" data-media="(max-width:940px)" ></div>
					<div data-src="/assets/img-34-medium2x.jpg" data-media="(max-width:940px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:940px) and (min-resolution:144dpi)" ></div>
					<div data-src="/assets/img-34-small.jpg" data-media="(max-width:640px)" ></div>
					<div data-src="/assets/img-34-small2x.jpg" data-media="(max-width:640px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:640px) and (min-resolution:144dpi)" ></div>
					<!--[if (lt IE 9) & (!IEMobile)]>
					<div data-src="/assets/img-34.jpg"></div>
					<![endif]-->
					<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
					<noscript><%= image_tag("img-34.jpg", alt: "image description", size: "360x358") %></noscript>
				</div> 
				</a>
			</li>
			<li>
				<a href="#">
					<div data-picture data-alt="image description" >
					<div data-src="/assets/img-35.jpg" ></div>
					<div data-src="/assets/img-35-medium.jpg" data-media="(max-width:940px)" ></div>
					<div data-src="/assets/img-35-medium2x.jpg" data-media="(max-width:940px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:940px) and (min-resolution:144dpi)" ></div>
					<div data-src="/assets/img-35-small.jpg" data-media="(max-width:640px)" ></div>
					<div data-src="/assets/img-35-small2x.jpg" data-media="(max-width:640px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:640px) and (min-resolution:144dpi)" ></div>
					<!--[if (lt IE 9) & (!IEMobile)]>
					<div data-src="/assets/img-35.jpg"></div>
					<![endif]-->
					<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
					<noscript><%= image_tag("img-35.jpg", alt: "image description", size: "360x358") %></noscript>
				</div> 
				</a>
			</li>
			<li>
				<a href="#">
					<div data-picture data-alt="image description" >
					<div data-src="/assets/img-36.jpg" ></div>
					<div data-src="/assets/img-36-medium.jpg" data-media="(max-width:940px)" ></div>
					<div data-src="/assets/img-36-medium2x.jpg" data-media="(max-width:940px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:940px) and (min-resolution:144dpi)" ></div>
					<div data-src="/assets/img-36-small.jpg" data-media="(max-width:640px)" ></div>
					<div data-src="/assets/img-36-small2x.jpg" data-media="(max-width:640px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:640px) and (min-resolution:144dpi)" ></div>
					<!--[if (lt IE 9) & (!IEMobile)]>
					<div data-src="/assets/img-36.jpg"></div>
					<![endif]-->
					<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
					<noscript><%= image_tag("img-36.jpg", alt: "image description", size: "360x358") %></noscript>
				</div> 
				</a>
			</li>
			<li>
				<a href="#">
					<div data-picture data-alt="image description" >
					<div data-src="/assets/img-37.jpg" ></div>
					<div data-src="/assets/img-37-medium.jpg" data-media="(max-width:940px)" ></div>
					<div data-src="/assets/img-37-medium2x.jpg" data-media="(max-width:940px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:940px) and (min-resolution:144dpi)" ></div>
					<div data-src="/assets/img-37-small.jpg" data-media="(max-width:640px)" ></div>
					<div data-src="/assets/img-37-small2x.jpg" data-media="(max-width:640px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:640px) and (min-resolution:144dpi)" ></div>
					<!--[if (lt IE 9) & (!IEMobile)]>
					<div data-src="/assets/img-37.jpg"></div>
					<![endif]-->
					<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
					<noscript><%= image_tag("img-37.jpg", alt: "image description", size: "360x358") %></noscript>
				</div> 
				</a>
			</li>
			<li>
				<a href="#">
					<div data-picture data-alt="image description" >
					<div data-src="/assets/img-38.jpg" ></div>
					<div data-src="/assets/img-38-medium.jpg" data-media="(max-width:940px)" ></div>
					<div data-src="/assets/img-38-medium2x.jpg" data-media="(max-width:940px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:940px) and (min-resolution:144dpi)" ></div>
					<div data-src="/assets/img-38-small.jpg" data-media="(max-width:640px)" ></div>
					<div data-src="/assets/img-38-small2x.jpg" data-media="(max-width:640px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:640px) and (min-resolution:144dpi)" ></div>
					<!--[if (lt IE 9) & (!IEMobile)]>
					<div data-src="/assets/img-38.jpg"></div>
					<![endif]-->
					<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
					<noscript><%= image_tag("img-38.jpg", alt: "image description", size: "360x358") %></noscript>
				</div> 
				</a>
			</li>
			<li>
				<a href="#">
					<div data-picture data-alt="image description" >
					<div data-src="/assets/img-39.jpg" ></div>
					<div data-src="/assets/img-39-medium.jpg" data-media="(max-width:940px)" ></div>
					<div data-src="/assets/img-39-medium2x.jpg" data-media="(max-width:940px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:940px) and (min-resolution:144dpi)" ></div>
					<div data-src="/assets/img-39-small.jpg" data-media="(max-width:640px)" ></div>
					<div data-src="/assets/img-39-small2x.jpg" data-media="(max-width:640px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:640px) and (min-resolution:144dpi)" ></div>
					<!--[if (lt IE 9) & (!IEMobile)]>
					<div data-src="/assets/img-39.jpg"></div>
					<![endif]-->
					<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
					<noscript><%= image_tag("img-39.jpg", alt: "image description", size: "360x358") %></noscript>
				</div> 
				</a>
			</li>
			<li>
				<a href="#">
					<div data-picture data-alt="image description" >
					<div data-src="/assets/img-40.jpg" ></div>
					<div data-src="/assets/img-40-medium.jpg" data-media="(max-width:940px)" ></div>
					<div data-src="/assets/img-40-medium2x.jpg" data-media="(max-width:940px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:940px) and (min-resolution:144dpi)" ></div>
					<div data-src="/assets/img-40-small.jpg" data-media="(max-width:640px)" ></div>
					<div data-src="/assets/img-40-small2x.jpg" data-media="(max-width:640px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:640px) and (min-resolution:144dpi)" ></div>
					<!--[if (lt IE 9) & (!IEMobile)]>
					<div data-src="/assets/img-40.jpg"></div>
					<![endif]-->
					<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
					<noscript><%= image_tag("img-40.jpg", alt: "image description", size: "360x358") %></noscript>
				</div> 
				</a>
			</li>
			<li>
				<a href="#">
					<div data-picture data-alt="image description" >
					<div data-src="/assets/img-41.jpg" ></div>
					<div data-src="/assets/img-41-medium.jpg" data-media="(max-width:940px)" ></div>
					<div data-src="/assets/img-41-medium2x.jpg" data-media="(max-width:940px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:940px) and (min-resolution:144dpi)" ></div>
					<div data-src="/assets/img-41-small.jpg" data-media="(max-width:640px)" ></div>
					<div data-src="/assets/img-41-small2x.jpg" data-media="(max-width:640px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:640px) and (min-resolution:144dpi)" ></div>
					<!--[if (lt IE 9) & (!IEMobile)]>
					<div data-src="/assets/img-41.jpg"></div>
					<![endif]-->
					<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
					<noscript><%= image_tag("img-41.jpg", alt: "image description", size: "360x358") %></noscript>
				</div> 
				</a>
			</li>
			<li>
				<a href="#">
					<div data-picture data-alt="image description" >
					<div data-src="/assets/img-42.jpg" ></div>
					<div data-src="/assets/img-42-medium.jpg" data-media="(max-width:940px)" ></div>
					<div data-src="/assets/img-42-medium2x.jpg" data-media="(max-width:940px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:940px) and (min-resolution:144dpi)" ></div>
					<div data-src="/assets/img-42-small.jpg" data-media="(max-width:640px)" ></div>
					<div data-src="/assets/img-42-small2x.jpg" data-media="(max-width:640px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:640px) and (min-resolution:144dpi)" ></div>
					<!--[if (lt IE 9) & (!IEMobile)]>
					<div data-src="/assets/img-42.jpg"></div>
					<![endif]-->
					<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
					<noscript><%= image_tag("img-42.jpg", alt: "image description", size: "360x358") %></noscript>
				</div> 
				</a>
			</li>
			<li>
				<a href="#">
					<div data-picture data-alt="image description" >
					<div data-src="/assets/img-43.jpg" ></div>
					<div data-src="/assets/img-43-medium.jpg" data-media="(max-width:940px)" ></div>
					<div data-src="/assets/img-43-medium2x.jpg" data-media="(max-width:940px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:940px) and (min-resolution:144dpi)" ></div>
					<div data-src="/assets/img-43-small.jpg" data-media="(max-width:640px)" ></div>
					<div data-src="/assets/img-43-small2x.jpg" data-media="(max-width:640px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:640px) and (min-resolution:144dpi)" ></div>
					<!--[if (lt IE 9) & (!IEMobile)]>
					<div data-src="/assets/img-43.jpg"></div>
					<![endif]-->
					<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
					<noscript><%= image_tag("img-43.jpg", alt: "image description", size: "360x358") %></noscript>
				</div> 
				</a>
			</li>
			<li>
				<a href="#">
					<div data-picture data-alt="image description" >
					<div data-src="/assets/img-44.jpg" ></div>
					<div data-src="/assets/img-44-medium.jpg" data-media="(max-width:940px)" ></div>
					<div data-src="/assets/img-44-medium2x.jpg" data-media="(max-width:940px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:940px) and (min-resolution:144dpi)" ></div>
					<div data-src="/assets/img-44-small.jpg" data-media="(max-width:640px)" ></div>
					<div data-src="/assets/img-44-small2x.jpg" data-media="(max-width:640px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:640px) and (min-resolution:144dpi)" ></div>
					<!--[if (lt IE 9) & (!IEMobile)]>
					<div data-src="/assets/img-44.jpg"></div>
					<![endif]-->
					<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
					<noscript><%= image_tag("img-44.jpg", alt: "image description", size: "360x358") %></noscript>
				</div> 
				</a>
			</li>
			<li>
				<a href="#">
					<div data-picture data-alt="image description" >
					<div data-src="/assets/img-45.jpg" ></div>
					<div data-src="/assets/img-45-medium.jpg" data-media="(max-width:940px)" ></div>
					<div data-src="/assets/img-45-medium2x.jpg" data-media="(max-width:940px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:940px) and (min-resolution:144dpi)" ></div>
					<div data-src="/assets/img-45-small.jpg" data-media="(max-width:640px)" ></div>
					<div data-src="/assets/img-45-small2x.jpg" data-media="(max-width:640px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:640px) and (min-resolution:144dpi)" ></div>
					<!--[if (lt IE 9) & (!IEMobile)]>
					<div data-src="/assets/img-45.jpg"></div>
					<![endif]-->
					<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
					<noscript><%= image_tag("img-45.jpg", alt: "image description", size: "360x358") %></noscript>
				</div> 
				</a>
			</li>
		</ul>
	</div>
	<!-- control-services -->
	<div class="control-services">
		<h1>More Great Services.</h1>
		<!-- list-services -->
		<ul class="list-services small">
			<li>
				<div data-picture data-alt="image description" >
					<div data-src="/assets/img-03.jpg" ></div>
					<div data-src="/assets/img-03-small-medium.jpg" data-media="(max-width:940px)" ></div>
					<div data-src="/assets/img-03-small-medium2x.jpg" data-media="(max-width:940px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:940px) and (min-resolution:144dpi)" ></div>
					<div data-src="/assets/img-03-mobile-small.jpg" data-media="(max-width:640px)" ></div>
					<div data-src="/assets/img-03-mobile-small2x.jpg" data-media="(max-width:640px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:640px) and (min-resolution:144dpi)" ></div>
					<!--[if (lt IE 9) & (!IEMobile)]>
					<div data-src="/assets/img-03.jpg"></div>
					<![endif]-->
					<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
					<noscript><%= image_tag("img-03.jpg", alt: "image description", size: "351x190") %></noscript>
				</div> 
				<div class="content"><strong class="title">MOBILE FIRST</strong></div>
				<div class="rollover"><%= link_to 'Learn More', mobile_index_path, class: 'more icon-01' %></div>
			</li>
			<li class="active">
				<div data-picture data-alt="image description" >
					<div data-src="/assets/img-04.jpg" ></div>
					<div data-src="/assets/img-04-small-medium.jpg" data-media="(max-width:940px)" ></div>
					<div data-src="/assets/img-04-small-medium2x.jpg" data-media="(max-width:940px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:940px) and (min-resolution:144dpi)" ></div>
					<div data-src="/assets/img-04-mobile-small.jpg" data-media="(max-width:640px)" ></div>
					<div data-src="/assets/img-04-mobile-small2x.jpg" data-media="(max-width:640px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:640px) and (min-resolution:144dpi)" ></div>
					<!--[if (lt IE 9) & (!IEMobile)]>
					<div data-src="/assets/img-04.jpg"></div>
					<![endif]-->
					<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
					<noscript><%= image_tag("img-04.jpg", alt: "image description", size: "351x190") %></noscript>
				</div> 
				<div class="content"><strong class="title">ENTERPRISE CMS</strong></div>
				<div class="rollover"><%= link_to 'Learn More', enterprise_cms_index_path, class: 'more icon-02' %></div>
			</li>
			<li>
				<div data-picture data-alt="image description" >
					<div data-src="/assets/img-05.jpg" ></div>
					<div data-src="/assets/img-05-small-medium.jpg" data-media="(max-width:940px)" ></div>
					<div data-src="/assets/img-05-small-medium2x.jpg" data-media="(max-width:940px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:940px) and (min-resolution:144dpi)" ></div>
					<div data-src="/assets/img-05-mobile-small.jpg" data-media="(max-width:640px)" ></div>
					<div data-src="/assets/img-05-mobile-small2x.jpg" data-media="(max-width:640px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:640px) and (min-resolution:144dpi)" ></div>
					<!--[if (lt IE 9) & (!IEMobile)]>
					<div data-src="/assets/img-05.jpg"></div>
					<![endif]-->
					<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
					<noscript><%= image_tag("img-05.jpg", alt: "image description", size: "351x190") %></noscript>
				</div> 
				<div class="content"><strong class="title">USER EXPERIENCE</strong></div>
				<div class="rollover"><%= link_to 'Learn More', user_experience_index_path, class: 'more icon-03' %></div>
			</li>
			<li>
				<div data-picture data-alt="image description" >
					<div data-src="/assets/img-06.jpg" ></div>
					<div data-src="/assets/img-06-small-medium.jpg" data-media="(max-width:940px)" ></div>
					<div data-src="/assets/img-06-small-medium2x.jpg" data-media="(max-width:940px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:940px) and (min-resolution:144dpi)" ></div>
					<div data-src="/assets/img-06-mobile-small.jpg" data-media="(max-width:640px)" ></div>
					<div data-src="/assets/img-06-mobile-small2x.jpg" data-media="(max-width:640px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:640px) and (min-resolution:144dpi)" ></div>
					<!--[if (lt IE 9) & (!IEMobile)]>
					<div data-src="/assets/img-06.jpg"></div>
					<![endif]-->
					<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
					<noscript><%= image_tag("img-06.jpg", alt: "image description", size: "351x190") %></noscript>
				</div> 
				<div class="content"><strong class="title">ENTERPRISE GAMIFICATION</strong></div>
				<div class="rollover"><%= link_to 'Learn More', enterprise_gamification_index_path, class: 'more icon-04' %></div>
			</li>
			<li>
				<div data-picture data-alt="image description" >
					<div data-src="/assets/img-07.jpg" ></div>
					<div data-src="/assets/img-07-small-medium.jpg" data-media="(max-width:940px)" ></div>
					<div data-src="/assets/img-07-small-medium2x.jpg" data-media="(max-width:940px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:940px) and (min-resolution:144dpi)" ></div>
					<div data-src="/assets/img-07-mobile-small.jpg" data-media="(max-width:640px)" ></div>
					<div data-src="/assets/img-07-mobile-small2x.jpg" data-media="(max-width:640px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:640px) and (min-resolution:144dpi)" ></div>
					<!--[if (lt IE 9) & (!IEMobile)]>
					<div data-src="/assets/img-07.jpg"></div>
					<![endif]-->
					<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
					<noscript><%= image_tag("img-07.jpg", alt: "image description", size: "351x190") %></noscript>
				</div>
				<div class="content"><strong class="title">DIGITAL MARKETING</strong></div>
				<div class="rollover"><%= link_to 'Learn More', digital_marketing_index_path, class: 'more icon-05' %></div>
			</li>
			<li>
				<div data-picture data-alt="image description" >
					<div data-src="/assets/img-08.jpg" ></div>
					<div data-src="/assets/img-08-small-medium.jpg" data-media="(max-width:940px)" ></div>
					<div data-src="/assets/img-08-small-medium2x.jpg" data-media="(max-width:940px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:940px) and (min-resolution:144dpi)" ></div>
					<div data-src="/assets/img-08-mobile-small.jpg" data-media="(max-width:640px)" ></div>
					<div data-src="/assets/img-08-mobile-small2x.jpg" data-media="(max-width:640px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:640px) and (min-resolution:144dpi)" ></div>
					<!--[if (lt IE 9) & (!IEMobile)]>
					<div data-src="/assets/img-08.jpg"></div>
					<![endif]-->
					<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
					<noscript><%= image_tag("img-08.jpg", alt: "image description", size: "351x190") %></noscript>
				</div> 
				<div class="content"><strong class="title">VIDEO PRODUCTION</strong></div>
				<div class="rollover"><%= link_to 'Learn More', video_production_index_path, class: 'more icon-06' %></div>
			</li>
		</ul>
	</div>
</section>