<section id="content">
	<!-- visual -->
	<div class="visual">
		<div data-picture data-alt="image description" >
			<div data-src="/assets/img-46.jpg" ></div>
			<div data-src="/assets/img-46-medium.jpg" data-media="(max-width:940px)" ></div>
			<div data-src="/assets/img-46-medium2x.jpg" data-media="(max-width:940px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:940px) and (min-resolution:144dpi)" ></div>
			<div data-src="/assets/img-46-small.jpg" data-media="(max-width:640px)" ></div>
			<div data-src="/assets/img-46-small2x.jpg" data-media="(max-width:640px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:640px) and (min-resolution:144dpi)" ></div>
			<!--[if (lt IE 9) & (!IEMobile)]>
			<div data-src="/assets/img-46.jpg"></div>
			<![endif]-->
			<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
			<noscript><%= image_tag("img-46.jpg", alt: "description", size: "1080x306") %></noscript>
		</div> 
		<h1>MEET THE TEAM</h1>
	</div>
	<!-- video-area -->
	<div class="video-area">
		<div data-picture data-alt="image description" >
			<div data-src="/assets/img-47.jpg" ></div>
			<div data-src="/assets/img-47-small.jpg" data-media="(max-width:640px)" ></div>
			<div data-src="/assets/img-47-small2x.jpg" data-media="(max-width:640px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:640px) and (min-resolution:144dpi)" ></div>
			<!--[if (lt IE 9) & (!IEMobile)]>
			<div data-src="/assets/img-47.jpg"></div>
			<![endif]-->
			<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
			<noscript><%= image_tag("img-47.jpg", size: "1080x306", alt: "image description") %></noscript>
		</div> 
		<span class="shadow"><%= image_tag("shadow.png", alt: "image description") %></span>
	</div>
	<!-- team -->
	<ul class="team">
		<li>
			<%= image_tag("img-48.jpg", alt: "image description") %>
			<div class="rollover">
				<div class="holder">
					<h2><a href="#">CHAD ALDERSON</a></h2>
					<strong class="sub-title">Partner</strong>
				</div>
			</div>
			<div class="active">
				<p>Suspendisse potenti. Nulla volutpat ultrices pulvinar. Phasellus et interdum quam. Aliquam ut sem justo, et faucibus augue. Fusce auctor, felis ac placerat mollis, lacus enim malesuada. Nunc nec sapien id eros ullamcorper ultricies. </p>
				<ul class="social">
					<li><a class="linkedin" href="#">linkedin</a></li>
					<li><a class="pinterest" href="#">pinterest</a></li>
					<li><a class="flipbook" href="#">flipbook</a></li>
				</ul>
			</div>
		</li>
		<li class="visible">
			<%= image_tag("img-49.jpg", alt: "image description") %>
			<div class="rollover">
				<div class="holder">
					<h2><a href="#">CHAD ALDERSON</a></h2>
					<strong class="sub-title">Partner</strong>
				</div>
			</div>
			<div class="active">
				<p>Suspendisse potenti. Nulla volutpat ultrices pulvinar. Phasellus et interdum quam. Aliquam ut sem justo, et faucibus augue. Fusce auctor, felis ac placerat mollis, lacus enim malesuada. Nunc nec sapien id eros ullamcorper ultricies. </p>
				<ul class="social">
					<li><a class="linkedin" href="#">linkedin</a></li>
					<li><a class="pinterest" href="#">pinterest</a></li>
					<li><a class="flipbook" href="#">flipbook</a></li>
				</ul>
			</div>
		</li>
		<li>
			<%= image_tag("img-50.jpg", alt: "image description") %>
			<div class="rollover">
				<div class="holder">
					<h2><a href="#">CHAD ALDERSON</a></h2>
					<strong class="sub-title">Partner</strong>
				</div>
			</div>
			<div class="active">
				<p>Suspendisse potenti. Nulla volutpat ultrices pulvinar. Phasellus et interdum quam. Aliquam ut sem justo, et faucibus augue. Fusce auctor, felis ac placerat mollis, lacus enim malesuada. Nunc nec sapien id eros ullamcorper ultricies. </p>
				<ul class="social">
					<li><a class="linkedin" href="#">linkedin</a></li>
					<li><a class="pinterest" href="#">pinterest</a></li>
					<li><a class="flipbook" href="#">flipbook</a></li>
				</ul>
			</div>
		</li>
			<li>
			<%= image_tag("img-51.jpg", alt: "image description") %>
			<div class="rollover">
				<div class="holder">
					<h2><a href="#">CHAD ALDERSON</a></h2>
					<strong class="sub-title">Partner</strong>
				</div>
			</div>
			<div class="active">
				<p>Suspendisse potenti. Nulla volutpat ultrices pulvinar. Phasellus et interdum quam. Aliquam ut sem justo, et faucibus augue. Fusce auctor, felis ac placerat mollis, lacus enim malesuada. Nunc nec sapien id eros ullamcorper ultricies. </p>
				<ul class="social">
					<li><a class="linkedin" href="#">linkedin</a></li>
					<li><a class="pinterest" href="#">pinterest</a></li>
					<li><a class="flipbook" href="#">flipbook</a></li>
				</ul>
			</div>
		</li>
		<li>
			<%= image_tag("img-55.jpg", alt: "image description") %>
			<div class="rollover">
				<div class="holder">
					<h2><a href="#">CHAD ALDERSON</a></h2>
					<strong class="sub-title">Partner</strong>
				</div>
			</div>
			<div class="active">
				<p>Suspendisse potenti. Nulla volutpat ultrices pulvinar. Phasellus et interdum quam. Aliquam ut sem justo, et faucibus augue. Fusce auctor, felis ac placerat mollis, lacus enim malesuada. Nunc nec sapien id eros ullamcorper ultricies. </p>
				<ul class="social">
					<li><a class="linkedin" href="#">linkedin</a></li>
					<li><a class="pinterest" href="#">pinterest</a></li>
					<li><a class="flipbook" href="#">flipbook</a></li>
				</ul>
			</div>
		</li>
		<li>
			<%= image_tag("img-54.jpg", alt: "image description") %>
			<div class="rollover">
				<div class="holder">
					<h2><a href="#">CHAD ALDERSON</a></h2>
					<strong class="sub-title">Partner</strong>
				</div>
			</div>
			<div class="active">
				<p>Suspendisse potenti. Nulla volutpat ultrices pulvinar. Phasellus et interdum quam. Aliquam ut sem justo, et faucibus augue. Fusce auctor, felis ac placerat mollis, lacus enim malesuada. Nunc nec sapien id eros ullamcorper ultricies. </p>
				<ul class="social">
					<li><a class="linkedin" href="#">linkedin</a></li>
					<li><a class="pinterest" href="#">pinterest</a></li>
					<li><a class="flipbook" href="#">flipbook</a></li>
				</ul>
			</div>
		</li>
		<li>
			<%= image_tag("img-53.jpg", alt: "image description") %>
			<div class="rollover">
				<div class="holder">
					<h2><a href="#">CHAD ALDERSON</a></h2>
					<strong class="sub-title">Partner</strong>
				</div>
			</div>
			<div class="active">
				<p>Suspendisse potenti. Nulla volutpat ultrices pulvinar. Phasellus et interdum quam. Aliquam ut sem justo, et faucibus augue. Fusce auctor, felis ac placerat mollis, lacus enim malesuada. Nunc nec sapien id eros ullamcorper ultricies. </p>
				<ul class="social">
					<li><a class="linkedin" href="#">linkedin</a></li>
					<li><a class="pinterest" href="#">pinterest</a></li>
					<li><a class="flipbook" href="#">flipbook</a></li>
				</ul>
			</div>
		</li>
			<li>
			<%= image_tag("img-52.jpg", alt: "image description") %>
			<div class="rollover">
				<div class="holder">
					<h2><a href="#">CHAD ALDERSON</a></h2>
					<strong class="sub-title">Partner</strong>
				</div>
			</div>
			<div class="active">
				<p>Suspendisse potenti. Nulla volutpat ultrices pulvinar. Phasellus et interdum quam. Aliquam ut sem justo, et faucibus augue. Fusce auctor, felis ac placerat mollis, lacus enim malesuada. Nunc nec sapien id eros ullamcorper ultricies. </p>
				<ul class="social">
					<li><a class="linkedin" href="#">linkedin</a></li>
					<li><a class="pinterest" href="#">pinterest</a></li>
					<li><a class="flipbook" href="#">flipbook</a></li>
				</ul>
			</div>
		</li>
		<li>
			<%= image_tag("img-48.jpg", alt: "image description") %>
			<div class="rollover">
				<div class="holder">
					<h2><a href="#">CHAD ALDERSON</a></h2>
					<strong class="sub-title">Partner</strong>
				</div>
			</div>
			<div class="active">
				<p>Suspendisse potenti. Nulla volutpat ultrices pulvinar. Phasellus et interdum quam. Aliquam ut sem justo, et faucibus augue. Fusce auctor, felis ac placerat mollis, lacus enim malesuada. Nunc nec sapien id eros ullamcorper ultricies. </p>
				<ul class="social">
					<li><a class="linkedin" href="#">linkedin</a></li>
					<li><a class="pinterest" href="#">pinterest</a></li>
					<li><a class="flipbook" href="#">flipbook</a></li>
				</ul>
			</div>
		</li>
		<li>
			<%= image_tag("img-49.jpg", alt: "image description") %>
			<div class="rollover">
				<div class="holder">
					<h2><a href="#">CHAD ALDERSON</a></h2>
					<strong class="sub-title">Partner</strong>
				</div>
			</div>
			<div class="active">
				<p>Suspendisse potenti. Nulla volutpat ultrices pulvinar. Phasellus et interdum quam. Aliquam ut sem justo, et faucibus augue. Fusce auctor, felis ac placerat mollis, lacus enim malesuada. Nunc nec sapien id eros ullamcorper ultricies. </p>
				<ul class="social">
					<li><a class="linkedin" href="#">linkedin</a></li>
					<li><a class="pinterest" href="#">pinterest</a></li>
					<li><a class="flipbook" href="#">flipbook</a></li>
				</ul>
			</div>
		</li>
		<li>
			<%= image_tag("img-54.jpg", alt: "image description") %>
			<div class="rollover">
				<div class="holder">
					<h2><a href="#">CHAD ALDERSON</a></h2>
					<strong class="sub-title">Partner</strong>
				</div>
			</div>
			<div class="active">
				<p>Suspendisse potenti. Nulla volutpat ultrices pulvinar. Phasellus et interdum quam. Aliquam ut sem justo, et faucibus augue. Fusce auctor, felis ac placerat mollis, lacus enim malesuada. Nunc nec sapien id eros ullamcorper ultricies. </p>
				<ul class="social">
					<li><a class="linkedin" href="#">linkedin</a></li>
					<li><a class="pinterest" href="#">pinterest</a></li>
					<li><a class="flipbook" href="#">flipbook</a></li>
				</ul>
			</div>
		</li>
	</ul>
	<!-- location -->
	<div class="location">
		<div class="block top">
			<div data-picture data-alt="image description" >
				<div data-src="/assets/img-56.jpg" ></div>
				<div data-src="/assets/img-56-medium.jpg" data-media="(max-width:940px)" ></div>
				<div data-src="/assets/img-56-medium2x.jpg" data-media="(max-width:940px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:940px) and (min-resolution:144dpi)" ></div>
				<div data-src="/assets/img-56-small.jpg" data-media="(max-width:640px)" ></div>
				<div data-src="/assets/img-56-small2x.jpg" data-media="(max-width:640px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:640px) and (min-resolution:144dpi)" ></div>
				<!--[if (lt IE 9) & (!IEMobile)]>
				<div data-src="/assets/img-56.jpg"></div>
				<![endif]-->
				<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
				<noscript><%= image_tag("img-56.jpg", alt: "image description", size: "541x992") %></noscript>
			</div> 
			<div class="content">
				<div class="rollover">
					<strong class="title">San Jose, CA</strong>
					<p>Suspendisse potenti. Nulla volutpat ultrices pulvinar. Phasellus et interdum quam. Aliquam ut sem justo, et faucibus augue. Fusce auctor, felis ac placerat mollis, lacus enim malesuada. Nunc nec sapien id eros ullamcorper ultricies. </p>
				</div>
				<div class="holder">
					<h2>San Jose</h2>
					<strong class="sub-title">Northern California</strong>
				</div>
			</div>
		</div>
		<div class="block">
			<div data-picture data-alt="image description" >
				<div data-src="/assets/img-57.jpg" ></div>
				<div data-src="/assets/img-57-medium.jpg" data-media="(max-width:940px)" ></div>
				<div data-src="/assets/img-57-medium2x.jpg" data-media="(max-width:940px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:940px) and (min-resolution:144dpi)" ></div>
				<div data-src="/assets/img-57-small.jpg" data-media="(max-width:640px)" ></div>
				<div data-src="/assets/img-57-small2x.jpg" data-media="(max-width:640px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:640px) and (min-resolution:144dpi)" ></div>
				<!--[if (lt IE 9) & (!IEMobile)]>
				<div data-src="/assets/img-57.jpg"></div>
				<![endif]-->
				<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
				<noscript><%= image_tag("img-57.jpg", alt: "image description", size: "540x996") %></noscript>
			</div> 
			<div class="content">
				<div class="rollover">
					<strong class="title">San Jose, CA</strong>
					<p>Suspendisse potenti. Nulla volutpat ultrices pulvinar. Phasellus et interdum quam. Aliquam ut sem justo, et faucibus augue. Fusce auctor, felis ac placerat mollis, lacus enim malesuada. Nunc nec sapien id eros ullamcorper ultricies. </p>
				</div>
				<div class="holder">
					<h2>Santa Monica</h2>
					<strong class="sub-title">Southern California</strong>
				</div>
			</div>
		</div>
	</div>
	<!-- container -->
	<div class="container">
		<!-- <div class="item empty">&nbsp;</div> -->
		<div class="item">
			<div data-picture data-alt="image description" >
				<div data-src="/assets/img-58.jpg" ></div>
				<div data-src="/assets/img-58-medium.jpg" data-media="(max-width:940px)" ></div>
				<div data-src="/assets/img-58-medium2x.jpg" data-media="(max-width:940px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:940px) and (min-resolution:144dpi)" ></div>
				<div data-src="/assets/img-58-small.jpg" data-media="(max-width:640px)" ></div>
				<div data-src="/assets/img-58-small2x.jpg" data-media="(max-width:640px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:640px) and (min-resolution:144dpi)" ></div>
				<!--[if (lt IE 9) & (!IEMobile)]>
				<div data-src="/assets/img-58.jpg"></div>
				<![endif]-->
				<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
				<noscript><%= image_tag("img-58.jpg", alt: "image description", size: "306x306") %></noscript>
			</div> 
		</div>
		<div class="item">
			<div data-picture data-alt="image description" >
				<div data-src="/assets/img-59.jpg" ></div>
				<div data-src="/assets/img-59-medium.jpg" data-media="(max-width:940px)" ></div>
				<div data-src="/assets/img-59-medium2x.jpg" data-media="(max-width:940px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:940px) and (min-resolution:144dpi)" ></div>
				<div data-src="/assets/img-59-small.jpg" data-media="(max-width:640px)" ></div>
				<div data-src="/assets/img-59-small2x.jpg" data-media="(max-width:640px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:640px) and (min-resolution:144dpi)" ></div>
				<!--[if (lt IE 9) & (!IEMobile)]>
				<div data-src="/assets/img-59.jpg"></div>
				<![endif]-->
				<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
				<noscript><%= image_tag("img-59.jpg", alt: "image description", size: "444x457") %></noscript>
			</div> 
		</div>
		<div class="item big">
			<div data-picture data-alt="image description" >
				<div data-src="/assets/img-60.jpg" ></div>
				<div data-src="/assets/img-60-medium.jpg" data-media="(max-width:940px)" ></div>
				<div data-src="/assets/img-60-medium2x.jpg" data-media="(max-width:940px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:940px) and (min-resolution:144dpi)" ></div>
				<div data-src="/assets/img-60-small.jpg" data-media="(max-width:640px)" ></div>
				<div data-src="/assets/img-60-small2x.jpg" data-media="(max-width:640px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:640px) and (min-resolution:144dpi)" ></div>
				<!--[if (lt IE 9) & (!IEMobile)]>
				<div data-src="/assets/img-60.jpg"></div>
				<![endif]-->
				<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
				<noscript><%= image_tag("img-60.jpg", alt: "image description", size: "606x608") %></noscript>
			</div> 
		</div>
		<div class="item big">
			<div data-picture data-alt="image description" >
				<div data-src="/assets/img-61.jpg" ></div>
				<div data-src="/assets/img-61-medium.jpg" data-media="(max-width:940px)" ></div>
				<div data-src="/assets/img-61-medium2x.jpg" data-media="(max-width:940px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:940px) and (min-resolution:144dpi)" ></div>
				<div data-src="/assets/img-61-small.jpg" data-media="(max-width:640px)" ></div>
				<div data-src="/assets/img-61-small2x.jpg" data-media="(max-width:640px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:640px) and (min-resolution:144dpi)" ></div>
				<!--[if (lt IE 9) & (!IEMobile)]>
				<div data-src="/assets/img-61.jpg"></div>
				<![endif]-->
				<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
				<noscript><%= image_tag("img-61.jpg", alt: "image description", size: "444x457") %></noscript>
			</div> 
		</div>
		<div class="item">
			<div data-picture data-alt="image description" >
				<div data-src="/assets/img-62.jpg" ></div>
				<div data-src="/assets/img-62-medium.jpg" data-media="(max-width:940px)" ></div>
				<div data-src="/assets/img-62-medium2x.jpg" data-media="(max-width:940px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:940px) and (min-resolution:144dpi)" ></div>
				<!--[if (lt IE 9) & (!IEMobile)]>
				<div data-src="/assets/img-62.jpg"></div>
				<![endif]-->
				<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
				<noscript><%= image_tag("img-62.jpg", alt: "image description", size: "340x340") %></noscript>
			</div> 
		</div>
		<div class="item big">
			<div data-picture data-alt="image description" >
				<div data-src="/assets/img-63.jpg" ></div>
				<div data-src="/assets/img-63-medium.jpg" data-media="(max-width:940px)" ></div>
				<div data-src="/assets/img-63-medium2x.jpg" data-media="(max-width:940px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:940px) and (min-resolution:144dpi)" ></div>
				<!--[if (lt IE 9) & (!IEMobile)]>
				<div data-src="/assets/img-63.jpg"></div>
				<![endif]-->
				<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
				<noscript><%= image_tag("img-63.jpg", alt: "image description", size: "340x340") %></noscript>
			</div> 
		</div>
		<div class="item">
			<div data-picture data-alt="image description" >
				<div data-src="/assets/img-64.jpg" ></div>
				<div data-src="/assets/img-64-medium.jpg" data-media="(max-width:940px)" ></div>
				<div data-src="/assets/img-64-medium2x.jpg" data-media="(max-width:940px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:940px) and (min-resolution:144dpi)" ></div>
				<!--[if (lt IE 9) & (!IEMobile)]>
				<div data-src="/assets/img-64.jpg"></div>
				<![endif]-->
				<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
				<noscript><%= image_tag("img-64.jpg", alt: "image description", size: "340x340") %></noscript>
			</div> 
		</div>
		<div class="item">
			<div data-picture data-alt="image description" >
				<div data-src="/assets/img-65.jpg" ></div>
				<div data-src="/assets/img-65-medium.jpg" data-media="(max-width:940px)" ></div>
				<div data-src="/assets/img-65-medium2x.jpg" data-media="(max-width:940px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:940px) and (min-resolution:144dpi)" ></div>
				<!--[if (lt IE 9) & (!IEMobile)]>
				<div data-src="/assets/img-65.jpg"></div>
				<![endif]-->
				<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
				<noscript><%= image_tag("img-65.jpg", alt: "image description", size: "606x608") %></noscript>
			</div> 
		</div>
		<div class="item">
			<div data-picture data-alt="image description" >
				<div data-src="/assets/img-66.jpg" ></div>
				<div data-src="/assets/img-66-medium.jpg" data-media="(max-width:940px)" ></div>
				<div data-src="/assets/img-66-medium2x.jpg" data-media="(max-width:940px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:940px) and (min-resolution:144dpi)" ></div>
				<div data-src="/assets/img-66-small.jpg" data-media="(max-width:640px)" ></div>
				<div data-src="/assets/img-66-small2x.jpg" data-media="(max-width:640px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:640px) and (min-resolution:144dpi)" ></div>
				<!--[if (lt IE 9) & (!IEMobile)]>
				<div data-src="/assets/img-66.jpg"></div>
				<![endif]-->
				<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
				<noscript><%= image_tag("img-66.jpg", alt: "image description", size: "288x306") %></noscript>
			</div> 
		</div>
		<div class="item">
			<div data-picture data-alt="image description" >
				<div data-src="/assets/img-67.jpg" ></div>
				<div data-src="/assets/img-67-medium.jpg" data-media="(max-width:940px)" ></div>
				<div data-src="/assets/img-67-medium2x.jpg" data-media="(max-width:940px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:940px) and (min-resolution:144dpi)" ></div>
				<div data-src="/assets/img-67-small.jpg" data-media="(max-width:640px)" ></div>
				<div data-src="/assets/img-67-small2x.jpg" data-media="(max-width:640px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:640px) and (min-resolution:144dpi)" ></div>
				<!--[if (lt IE 9) & (!IEMobile)]>
				<div data-src="/assets/img-67.jpg"></div>
				<![endif]-->
				<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
				<noscript><%= image_tag("img-67.jpg", alt: "image description", size: "288x306") %></noscript>
			</div> 
		</div>
		<div class="item">
			<div data-picture data-alt="image description" >
				<div data-src="/assets/img-68.jpg" ></div>
				<div data-src="/assets/img-68-medium.jpg" data-media="(max-width:940px)" ></div>
				<div data-src="/assets/img-68-medium2x.jpg" data-media="(max-width:940px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:940px) and (min-resolution:144dpi)" ></div>
				<!--[if (lt IE 9) & (!IEMobile)]>
				<div data-src="/assets/img-68.jpg"></div>
				<![endif]-->
				<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
				<noscript><%= image_tag("img-68.jpg", alt: "image description", size: "444x457") %></noscript>
			</div> 
		</div>
		<div class="item big">
			<div data-picture data-alt="image description" >
				<div data-src="/assets/img-69.jpg" ></div>
				<div data-src="/assets/img-69-medium.jpg" data-media="(max-width:940px)" ></div>
				<div data-src="/assets/img-69-medium2x.jpg" data-media="(max-width:940px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:940px) and (min-resolution:144dpi)" ></div>
				<!--[if (lt IE 9) & (!IEMobile)]>
				<div data-src="/assets/img-69.jpg"></div>
				<![endif]-->
				<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
				<noscript><%= image_tag("img-66.jpg", alt: "image description", size: "606x608") %></noscript>
			</div> 
		</div>
		<div class="item">
			<div data-picture data-alt="image description" >
				<div data-src="/assets/img-70.jpg" ></div>
				<div data-src="/assets/img-70-medium.jpg" data-media="(max-width:940px)" ></div>
				<div data-src="/assets/img-70-medium2x.jpg" data-media="(max-width:940px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:940px) and (min-resolution:144dpi)" ></div>
				<!--[if (lt IE 9) & (!IEMobile)]>
				<div data-src="/assets/img-70.jpg"></div>
				<![endif]-->
				<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
				<noscript><%= image_tag("img-70.jpg", alt: "image description", size: "339x340") %></noscript>
			</div> 
		</div>
		<div class="item">
			<div data-picture data-alt="image description" >
				<div data-src="/assets/img-71.jpg" ></div>
				<div data-src="/assets/img-71-medium.jpg" data-media="(max-width:940px)" ></div>
				<div data-src="/assets/img-71-medium2x.jpg" data-media="(max-width:940px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:940px) and (min-resolution:144dpi)" ></div>
				<div data-src="/assets/img-71-small.jpg" data-media="(max-width:640px)" ></div>
				<div data-src="/assets/img-71-small2x.jpg" data-media="(max-width:640px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:640px) and (min-resolution:144dpi)" ></div>
				<!--[if (lt IE 9) & (!IEMobile)]>
				<div data-src="/assets/img-71.jpg"></div>
				<![endif]-->
				<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
				<noscript><%= image_tag("img-71.jpg", alt: "image description", size: "340x340") %></noscript>
			</div> 
		</div>
		<div class="item">
			<div data-picture data-alt="image description" >
				<div data-src="/assets/img-72.jpg" ></div>
				<div data-src="/assets/img-72-medium.jpg" data-media="(max-width:940px)" ></div>
				<div data-src="/assets/img-72-medium2x.jpg" data-media="(max-width:940px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:940px) and (min-resolution:144dpi)" ></div>
				<!--[if (lt IE 9) & (!IEMobile)]>
				<div data-src="/assets/img-72.jpg"></div>
				<![endif]-->
				<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
				<noscript><%= image_tag("img-72.jpg", alt: "image description", size: "340x340") %></noscript>
			</div> 
		</div>
		<div class="item">
			<div data-picture data-alt="image description" >
				<div data-src="/assets/img-73.jpg" ></div>
				<div data-src="/assets/img-73-medium.jpg" data-media="(max-width:940px)" ></div>
				<div data-src="/assets/img-73-medium2x.jpg" data-media="(max-width:940px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:940px) and (min-resolution:144dpi)" ></div>
				<div data-src="/assets/img-73-small.jpg" data-media="(max-width:640px)" ></div>
				<div data-src="/assets/img-73-small2x.jpg" data-media="(max-width:640px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:640px) and (min-resolution:144dpi)" ></div>
				<!--[if (lt IE 9) & (!IEMobile)]>
				<div data-src="/assets/img-73.jpg"></div>
				<![endif]-->
				<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
				<noscript><%= image_tag("img-73.jpg", alt: "image description", size: "444x457") %></noscript>
			</div> 
		</div>
		<div class="item"><%= image_tag("img-74.jpg", alt: "image description") %></div>
		<div class="item">
			<div data-picture data-alt="image description" >
				<div data-src="/assets/img-75.jpg" ></div>
				<div data-src="/assets/img-75-medium.jpg" data-media="(max-width:940px)" ></div>
				<div data-src="/assets/img-75-medium2x.jpg" data-media="(max-width:940px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:940px) and (min-resolution:144dpi)" ></div>
				<!--[if (lt IE 9) & (!IEMobile)]>
				<div data-src="/assets/img-75.jpg"></div>
				<![endif]-->
				<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
				<noscript><%= image_tag("img-75.jpg", alt: "image description", size: "228x306") %></noscript>
			</div> 
		</div>
		<div class="item"><%= image_tag("img-76.jpg", alt: "image description") %></div>
		<div class="item big">
			<div data-picture data-alt="image description" >
				<div data-src="/assets/img-77.jpg" ></div>
				<div data-src="/assets/img-77-medium.jpg" data-media="(max-width:940px)" ></div>
				<div data-src="/assets/img-77-medium2x.jpg" data-media="(max-width:940px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:940px) and (min-resolution:144dpi)" ></div>
				<!--[if (lt IE 9) & (!IEMobile)]>
				<div data-src="/assets/img-77.jpg"></div>
				<![endif]-->
				<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
				<noscript><%= image_tag("img-77.jpg", alt: "image description", size: "607x608") %></noscript>
			</div> 
		</div>
		<div class="item"><%= image_tag("img-78.jpg", alt: "image description") %></div>
		<div class="item"><%= image_tag("img-79.jpg", alt: "image description") %></div>
		<div class="item"><%= image_tag("img-80.jpg", alt: "image description") %></div>
	</div>
</section>

<% @instagrams.each do |instagram| %>
  <%= image_tag instagram.photo.url %>
<% end %>
