<!-- content -->
<section id="content">
	<!-- visual -->
	<div class="visual">
		<div data-picture data-alt="image description" >
			<div data-src="/assets/img-17.jpg" ></div>
			<div data-src="/assets/img-17-medium.jpg" data-media="(max-width:940px)" ></div>
			<div data-src="/assets/img-17-medium2x.jpg" data-media="(max-width:940px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:940px) and (min-resolution:144dpi)" ></div>
			<div data-src="/assets/img-17-small.jpg" data-media="(max-width:640px)" ></div>
			<div data-src="/assets/img-17-small2x.jpg" data-media="(max-width:640px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:640px) and (min-resolution:144dpi)" ></div>
			<!--[if (lt IE 9) & (!IEMobile)]>
			<div data-src="/assets/img-17.jpg"></div>
			<![endif]-->
			<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
			<noscript><%= image_tag("img-17.jpg", alt: "image description", size: "712x243") %></noscript>
		</div> 
		<h1>CONTACT US</h1>
	</div>
	<!-- contact-holder -->
	<div class="contact-holder">
		<!-- form-send -->		
		<%= form_for @message, url: contact_path, html: {class: "form-send", autocomplete: "on"} do |form| %>
		  <fieldset>  
        <%= form.text_field :name, type: "text", placeholder: "Your Name", name: "name" %>
        <%= form.text_field :email, type: "email", placeholder: "Email Address", name: "email" %>
        <%= form.text_field :company, type: "text", class: "none", placeholder: "Company", name: "company" %>
        <%= form.text_field :website, type: "text", class: "none", placeholder: "Website", name: "website" %>
        <%= form.text_field :phone, type: "text", class: "none", placeholder: "Phone", name: "phone" %>
        <%= form.text_area :message, cols: "3", rows: "1", placeholder: "Message", name: "message" %>
        <%= form.submit "SUBMIT" %>
        <span class="note">Unlock the <strong>First Contact</strong> Achievement!</span>
		  </fieldset>
		<% end %>
		<!-- contact -->
		<div class="contact">
			<div class="map-holder">
				<div data-picture data-alt="image description" >
					<div data-src="/assets/map.jpg" ></div>
					<div data-src="/assets/map-medium.jpg" data-media="(max-width:940px)" ></div>
					<div data-src="/assets/map-medium2x.jpg" data-media="(max-width:940px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:940px) and (min-resolution:144dpi)" ></div>
					<div data-src="/assets/map-small.jpg" data-media="(max-width:640px)" ></div>
					<div data-src="/assets/map-small2x.jpg" data-media="(max-width:640px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:640px) and (min-resolution:144dpi)" ></div>
					<!--[if (lt IE 9) & (!IEMobile)]>
					<div data-src="/assets/map.jpg"></div>
					<![endif]-->
					<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
					<noscript><%= image_tag("map.jpg", alt: "image description", size: "540x394") %></noscript>
				</div>
			</div>
			<div class="box">
				<strong class="company">SPARK6 INC.</strong>
				<address>
					1415 10th Street STE 2<br/>
					Santa Monica, California 90401
				</address>
			</div>
			<div class="box">
				<!-- list-contact -->
				<ul class="list-contact">
					<li>
						Sales<br/>
						<a href="mailto:&#115;&#097;&#108;&#101;&#115;&#064;&#115;&#112;&#097;&#114;&#107;&#054;&#046;&#099;&#111;&#109;">&#115;&#097;&#108;&#101;&#115;&#064;&#115;&#112;&#097;&#114;&#107;&#054;&#046;&#099;&#111;&#109;</a>
					</li>
					<li>
						Support<br/>
						<a href="mailto:&#115;&#117;&#112;&#112;&#111;&#114;&#116;&#064;&#115;&#112;&#097;&#114;&#107;&#054;&#046;&#099;&#111;&#109;">&#115;&#117;&#112;&#112;&#111;&#114;&#116;&#064;&#115;&#112;&#097;&#114;&#107;&#054;&#046;&#099;&#111;&#109;</a>
					</li>
					<li>
						Careers<br/>
						<a href="mailto:&#099;&#097;&#114;&#101;&#101;&#114;&#115;&#064;&#115;&#112;&#097;&#114;&#107;&#054;&#046;&#099;&#111;&#109;">&#099;&#097;&#114;&#101;&#101;&#114;&#115;&#064;&#115;&#112;&#097;&#114;&#107;&#054;&#046;&#099;&#111;&#109;</a>
					</li>
					<li>
						Accounting<br/>
						<a href="mailto:&#097;&#099;&#099;&#111;&#117;&#110;&#116;&#105;&#110;&#103;&#064;&#115;&#112;&#097;&#114;&#107;&#054;&#046;&#099;&#111;&#109;">&#097;&#099;&#099;&#111;&#117;&#110;&#116;&#105;&#110;&#103;&#064;&#115;&#112;&#097;&#114;&#107;&#054;&#046;&#099;&#111;&#109;</a>
					</li>
				</ul>
			</div>
			<div class="box">
				<!-- social -->
				<ul class="social">
					<li>
					  <a class="linkedin" href="#">linkedin</a>
					  <em class="bg-hover"></em>
					</li>
					<li>
					  <a class="facebook" href="#">facebook</a>
            <em class="bg-hover"></em>
          </li>
					<li>
					  <a class="pinterest" href="#">pinterest</a>
            <em class="bg-hover"></em>
          </li>
				</ul>
			</div>
		</div>
	</div>
	<!-- control-services -->
	<div class="control-services">
		<h1>More Great Services.</h1>
		<!-- list-services -->
		<ul class="list-services small">
			<li>
				<div data-picture data-alt="image description" >
					<div data-src="/assets/img-03.jpg" ></div>
					<div data-src="/assets/img-03-small-medium.jpg" data-media="(max-width:940px)" ></div>
					<div data-src="/assets/img-03-small-medium2x.jpg" data-media="(max-width:940px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:940px) and (min-resolution:144dpi)" ></div>
					<div data-src="/assets/img-03-mobile-small.jpg" data-media="(max-width:640px)" ></div>
					<div data-src="/assets/img-03-mobile-small2x.jpg" data-media="(max-width:640px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:640px) and (min-resolution:144dpi)" ></div>
					<!--[if (lt IE 9) & (!IEMobile)]>
					<div data-src="/assets/img-03.jpg"></div>
					<![endif]-->
					<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
					<noscript><%= image_tag("img-03.jpg", alt: "image description", size: "351x190") %></noscript>
				</div> 
				<div class="content"><strong class="title">MOBILE FIRST</strong></div>
				<div class="rollover"><%= link_to 'Learn More', mobile_index_path, class: 'more icon-01' %></div>
			</li>
			<li class="active">
				<div data-picture data-alt="image description" >
					<div data-src="/assets/img-04.jpg" ></div>
					<div data-src="/assets/img-04-small-medium.jpg" data-media="(max-width:940px)" ></div>
					<div data-src="/assets/img-04-small-medium2x.jpg" data-media="(max-width:940px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:940px) and (min-resolution:144dpi)" ></div>
					<div data-src="/assets/img-04-mobile-small.jpg" data-media="(max-width:640px)" ></div>
					<div data-src="/assets/img-04-mobile-small2x.jpg" data-media="(max-width:640px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:640px) and (min-resolution:144dpi)" ></div>
					<!--[if (lt IE 9) & (!IEMobile)]>
					<div data-src="/assets/img-04.jpg"></div>
					<![endif]-->
					<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
					<noscript><%= image_tag("img-14.jpg", alt: "image description", size: "351x190") %></noscript>
				</div> 
				<div class="content"><strong class="title">ENTERPRISE CMS</strong></div>
				<div class="rollover"><%= link_to 'Learn More', enterprise_cms_index_path, class: 'more icon-02' %></div>
			</li>
			<li>
				<div data-picture data-alt="image description" >
					<div data-src="/assets/img-05.jpg" ></div>
					<div data-src="/assets/img-05-small-medium.jpg" data-media="(max-width:940px)" ></div>
					<div data-src="/assets/img-05-small-medium2x.jpg" data-media="(max-width:940px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:940px) and (min-resolution:144dpi)" ></div>
					<div data-src="/assets/img-05-mobile-small.jpg" data-media="(max-width:640px)" ></div>
					<div data-src="/assets/img-05-mobile-small2x.jpg" data-media="(max-width:640px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:640px) and (min-resolution:144dpi)" ></div>
					<!--[if (lt IE 9) & (!IEMobile)]>
					<div data-src="/assets/img-05.jpg"></div>
					<![endif]-->
					<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
					<noscript><%= image_tag("img-05.jpg", alt: "image description", size: "351x190") %></noscript>
				</div> 
				<div class="content"><strong class="title">USER EXPERIENCE</strong></div>
				<div class="rollover"><%= link_to 'Learn More', user_experience_index_path, class: 'more icon-03' %></div>
			</li>
			<li>
				<div data-picture data-alt="image description" >
					<div data-src="/assets/img-06.jpg" ></div>
					<div data-src="/assets/img-06-small-medium.jpg" data-media="(max-width:940px)" ></div>
					<div data-src="/assets/img-06-small-medium2x.jpg" data-media="(max-width:940px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:940px) and (min-resolution:144dpi)" ></div>
					<div data-src="/assets/img-06-mobile-small.jpg" data-media="(max-width:640px)" ></div>
					<div data-src="/assets/img-06-mobile-small2x.jpg" data-media="(max-width:640px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:640px) and (min-resolution:144dpi)" ></div>
					<!--[if (lt IE 9) & (!IEMobile)]>
					<div data-src="/assets/img-06.jpg"></div>
					<![endif]-->
					<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
					<noscript><%= image_tag("img-06.jpg", alt: "image description", size: "351x190") %></noscript>
				</div> 
				<div class="content"><strong class="title">ENTERPRISE GAMIFICATION</strong></div>
				<div class="rollover"><%= link_to 'Learn More', enterprise_gamification_index_path, class: 'more icon-04' %></div>
			</li>
			<li>
				<div data-picture data-alt="image description" >
					<div data-src="/assets/img-07.jpg" ></div>
					<div data-src="/assets/img-07-small-medium.jpg" data-media="(max-width:940px)" ></div>
					<div data-src="/assets/img-07-small-medium2x.jpg" data-media="(max-width:940px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:940px) and (min-resolution:144dpi)" ></div>
					<div data-src="/assets/img-07-mobile-small.jpg" data-media="(max-width:640px)" ></div>
					<div data-src="/assets/img-07-mobile-small2x.jpg" data-media="(max-width:640px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:640px) and (min-resolution:144dpi)" ></div>
					<!--[if (lt IE 9) & (!IEMobile)]>
					<div data-src="/assets/img-07.jpg"></div>
					<![endif]-->
					<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
					<noscript><%= image_tag("img-07.jpg", alt: "image description", size: "351x190") %></noscript>
				</div>
				<div class="content"><strong class="title">DIGITAL MARKETING</strong></div>
				<div class="rollover"><%= link_to 'Learn More', digital_marketing_index_path, class: 'more icon-05' %></div>
			</li>
			<li>
				<div data-picture data-alt="image description" >
					<div data-src="/assets/img-08.jpg" ></div>
					<div data-src="/assets/img-08-small-medium.jpg" data-media="(max-width:940px)" ></div>
					<div data-src="/assets/img-08-small-medium2x.jpg" data-media="(max-width:940px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:940px) and (min-resolution:144dpi)" ></div>
					<div data-src="/assets/img-08-mobile-small.jpg" data-media="(max-width:640px)" ></div>
					<div data-src="/assets/img-08-mobile-small2x.jpg" data-media="(max-width:640px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:640px) and (min-resolution:144dpi)" ></div>
					<!--[if (lt IE 9) & (!IEMobile)]>
					<div data-src="/assets/img-08.jpg"></div>
					<![endif]-->
					<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
					<noscript><%= image_tag("img-08.jpg", alt: "image description", size: "351x190") %></noscript>
				</div> 
				<div class="content"><strong class="title">VIDEO PRODUCTION</strong></div>
				<div class="rollover"><%= link_to 'Learn More', video_production_index_path, class: 'more icon-06' %></div>
			</li>
		</ul>
	</div>
</section>